<div class="container">
  <div class="d-flex flex-column align-items-center">
    <h2 class="d-flex flex-row justify-content-center col-4 bg-primary mb-0 pt-3">Sign Up</h2>
    <%= render 'form', user: @user %>
  </div>
</div>
